/* ========== fonts link css part start ==========  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------- fonts link css part end ---------- */
/* ========== variable css part start ==========  */
:root {
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;
  --brand_color: #5940ff;
  --secondary_color: #ff9900;
  --heading_color: #1E1E1E;
  --paragraph_color: #333333;
}

/* ---------- variable css part end ---------- */
/* ========== common css part start ==========  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* ---------- common css part end ---------- */
/* ========== main menu part start ==========  */
.navbar {
  --bs-navbar-padding-y: 20px;
}

.navbar-expand-lg .navbar-collapse {
  gap: 18px;
}

.navbar-nav {
  gap: 18px;
}

.main_menu .navbar-brand {
  width: 163px;
}

.main_menu ul li a {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--heading_color);
  position: relative;
}

.main_menu ul li a:hover {
  color: var(--brand_color) !important;
}

.main_menu .active_menu {
  color: var(--brand_color);
}

.main_menu ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--brand_color);
  position: absolute;
  top: 88%;
  left: 0;
  transition: all linear .3s;
}

.main_menu ul li a:hover::after {
  width: 50%;
}

.main_menu ul li a::before {
  content: '';
  width: 0;
  height: 2px;
  background: var(--secondary_color);
  position: absolute;
  top: 88%;
  right: 0;
  transition: all linear .3s;
}

.main_menu ul li a:hover::before {
  width: 50%;
}

.main_menu .nav_download a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--brand_color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear .3s;
}

.main_menu .nav_download a:hover {
  background-color: var(--secondary_color);
  transform: rotate(360deg);
}

.nav_sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.03);
  animation: sticky 0.6s linear;
  z-index: 999;
}

@keyframes sticky {
  0% {
    top: -100px;
  }

  100% {
    top: 0px;
  }
}

/* ---------- main menu css part end ---------- */
/* ========== banner css part start ==========  */
#banner {
  background: url(../images/banner_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  position: relative;
  z-index: 1;
}

#banner::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(208deg, #5239EC 11.87%, rgba(5, 21, 107, 0.79) 82.48%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#banner .row {
  align-items: center;
}

.benner_text_head h1 {
  font-size: 99px;
  font-weight: 700;
  font-family: var(--poppins);
  color: #fff;
  padding-bottom: 5px;
}

.benner_text_head h2 {
  font-size: 35px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
}

.banner_text_paragraph p {
  width: 430px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
  color: #fff;
  margin: 20px 0;
}

.banner_text_review {
  width: 210px;
  height: 65px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px 10px;
  margin-bottom: 40px;
}

.banner_review_text h3 {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--poppins);
  color: var(--secondary_color);
}

.banner_review_number {
  display: flex;
  flex-direction: column;
}

.banner_review_icon ul {
  display: flex;
  gap: 4px;
}

.banner_review_icon ul li i {
  font-size: 18px;
  color: var(--secondary_color);
}

.banner_review_icon ul .gry_color i {
  color: #98999C;
}

.banner_review_total p {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--paragraph_color);
}

.banner_photo_part {
  width: 100%;
}

.banner_photo_part img {
  width: 320px;
}

.banner_photo_part {
  display: flex;
  justify-content: end;
}

/* ---------- banner css part end ---------- */
/* ========== about app css part start ==========  */
#about_app {
  margin-top: 77px;
  margin-bottom: 31px;
}
.about_image{
  width: 320px;
}
.about_text {
  margin-top: 70px;
}

.about_head h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
}

.about_head p {
  width: 550px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--inter);
  color: var(--paragraph_color);
  margin-top: 10px;
  margin-bottom: 33px;
}

.icon_item {
  display: flex;
  gap: 11px;
  margin-bottom: 33px;
}

.about_icon_bg {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: var(--brand_color);
  display:flex;
  justify-content: center;
  align-items: center;
  transition: all linear .3s;
}

.about_icon_bg:hover {
  background: var(--secondary_color);
  border-radius: 0;
}

.about_icon_text h2 {
  color: var(--heading_color);
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 500;
}

.about_icon_text p {
  width: 460px;
  color: var(--paragraph_color);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
}

.about_button a {
  width: 175px;
  height: 50px;
  background: #D9D9D9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D9D9D9;
  transition: all linear .5s;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--heading_color);
  position: relative;
  transition: all linear .3s;
}

.about_button a:hover {
  background: none;
  border-radius: 0;
}

/* ---------- about app css part end ---------- */
/* ========== app_features css part start ==========  */
#app_features {
  padding: 76px 0;
  background: #F9F9F9;
}

.app_features_head h2{
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
  text-align: center;
  margin-bottom: 43px;
}

.features_cards_row {
  width: 645px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features_card {
  width: 178px;
  border-radius: 10px;
  background: #fff;
  padding: 20px 23px 26px 23px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: all linear .3s;
}

.features_card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.features_card_icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 12px;
  transition: all linear .3s;
}

.features_card_text h3 {
  font-size: 17px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
}

/* ---------- app_features css part end ---------- */
/* ========== app screenshots css part start ==========  */
#screenshots {
  background: #DFE0F3;
  padding: 70px 0;
}

.app_screenshot_head h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
  text-align: center;
  margin-bottom: 59px;
}

.slider_item {
  padding: 0 15px;
}

.slider_item img {
  width: 320px;
}

.screenshot_slider ul li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background: rgba(89, 64, 255, 0.50);
  margin-top: 30px;
}

.screenshot_slider ul {
  display: flex;
  gap: 9px;
  justify-content: center;
}

.screenshot_slider ul .slick-active button {
  transform: scale(1.2);
  background: var(--brand_color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* ---------- app screenshots css part end ---------- */
/* ========== get app now css part start ==========  */
.the_app h2 {
  width: 303px;
  font-size: 35px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
  margin-top: 248px;
}

.the_app p {
  width: 495px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--inter);
  color: var(--paragraph_color);
  margin-bottom: 47px;
  line-height: 30px;
}

#get_app .app_store {
  display: flex;
  gap: 15px;
  justify-content: start;
}

#get_app .app_store_button a {
  display: flex;
}

#get_app .app_store_button a {
  width: 150px;
  border: 1px solid var(--brand_color);
  color: var(--heading_color);
  border-radius: 5px;
  background: transparent;
  transition: all linear.3s;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all .6s ease;
}

#get_app .app_store_button a .p_1 {
  font-size: 9px;
  font-weight: 400;
  font-family: var(--inter);
  margin-top: 5px;
}

#get_app .app_store_button a .p_2 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
}

#get_app .app_store_button i {
  color: var(--brand_color);
  font-size: 24px;
  margin: 10px;
  transition: all linear .3s;
}

#get_app .app_store_button a:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

#get_app .app_store_button a :focus,
button:active {
  opacity: .85;
  box-shadow: none;
}

.app_image {
  width: 373px;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 79px;
}

/* ---------- get app now css part end ---------- */
/* ========== counter css part start ==========  */
#counter_part {
  background: url('/images/counter\ image.png');
  padding: 135px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#counter_part::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 153, 0, 0.904);
  z-index: -1;
}

.counter_item {
  text-align: center;
}

.counter_text h3 {
  font-size: 40px;
  font-weight: 700;
  font-family: var(--poppins);
  color: #ffffff;
  margin-top: 7px;
}
.counter_image{
  width: 82px;
  margin: 0 auto;
}
.counter_text p {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #ffffff;
}

/* ---------- countercss part end ---------- */
/* ========== video css part start ==========  */
.video-titleAnd-description {
  text-align: center;
  margin: 0px auto;
  padding-top: 115px;
  padding-bottom: 30px;
}

.video-titleAnd-description h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
  padding-bottom: 15px;
}

.video-titleAnd-description p {
  width: 490px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--inter);
  color: var(--paragraph_color);
  margin: 0 auto;
}

.video-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  position: relative;
}

.video iframe {
  width: 960px;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  margin: 0px auto;
}

.video .thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.thumbnail::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(31, 0, 230, 0.50);
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 10px;
  margin: 0px auto;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: #FF9900;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all linear.3s;
  animation: animate 2s linear infinite;
}

.playButton:hover {
  background: #ffffff;
  color: #5940ff;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);
  }

  40% {
    box-shadow: 0 0 0 40px rgba(255, 193, 7, 0);
  }

  80% {
    box-shadow: 0 0 0 40px rgb(255, 193, 7, 0);
  }

  100% {
    box-shadow: 0 0 0 40px rgb(255, 193, 7, 0);
  }
}

/* ---------- video css part end ---------- */
/* ========== testimonial part start ==========  */
#testimonial {
  padding-top: 116px;
  padding-bottom: 151px;
}

.testimonial_head h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
  text-align: center;
  margin-bottom: 49px;
}

.testimonial_image {
  width: 71px;
  height: 71px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.testimonial_image img {
  border: 2px solid var(--brand_color);
  border-radius: 50%;
}

.testimonial_text p {
  width: 520px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
  color: var(--paragraph_color);
  line-height: 25px;
  text-align: center;
  margin: 0 auto;
}

.testimonial_review ul {
  display: flex;
  justify-content: center;
  gap: 9px;
}

.testimonial_review ul li a {
  color: var(--secondary_color);
}

.testimonial_review ul li .nb_color {
  color: #98999C;
}

.personename_country h3 {
  width: 141px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--heading_color);
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 4px;
}

.personename_country h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--inter);
  color: var(--brand_color);
  text-align: center;
}

.testimonial_slide {
  width: 100%;
  position: relative;
  z-index: 111;
}

.next_arrrow {
  width: 14px;
  height: 22px;
  color: #D5D5D5;
  position: absolute;
  top: 95%;
  right: 0;
  transform: translate(-50% -50%);
  visibility: hidden;
  transition: all linear .5s;
  opacity: 0%;
}

.testimonial_slide:hover .next_arrrow {
  top: 50%;
  right: 0;
  transform: translate(-50% -50%);
  visibility: visible;
  transform: rotate(360deg);
  opacity: 100%;
}

.pree_arrow {
  width: 14px;
  height: 22px;
  color: #D5D5D5;
  position: absolute;
  z-index: 1;
  top: 95%;
  left: 0;
  transform: translate(-50% -50%);
  visibility: hidden;
  transition: all linear .5s;
  opacity: 0%;
}

.testimonial_slide:hover .pree_arrow {
  top: 50%;
  right: 0;
  transform: translate(-50% -50%);
  visibility: visible;
  transform: rotate(360deg);
  opacity: 100%;
}

.testimonial_slide ul {
  margin-top: 38px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.testimonial_slide ul li button {
  font-size: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
}

.testimonial_slide .slick-active button {
  width: 13px;
  height: 13px;
  background-color: var(--secondary_color);
}

/* ---------- testimonial part end ---------- */
/* ========== contact part start ==========  */
#contact_us {
  padding-bottom: 116px;
}

#contact_us .row {
  display: flex;
  align-items: center;
}

.contact_mainhead {
  width: 100%;
  margin-top: 0 auto;
}

.contact_head h2 {
  font-size: 35px;
  font-family: var(--poppins);
  font-weight: 600;
  color: var(--brand_color);
  margin-bottom: 30px;
}

.contact_head p {
  width: 317px;
  font-size: 14px;
  font-family: var(--inter);
  font-weight: 500;
  color: var(--paragraph_color);
  margin-bottom: 30px;
}

.contact_communicat ul {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.contact_communicat ul li a {
  display: flex;
  gap: 13px;
  align-items: center;
  font-size: 16px;
  font-family: var(--inter);
  font-weight: 400;
  color: #333333;
}

.contact_communicat ul li i {
  color: var(--brand_color);
}

.contact_communicat ul li a span {
  display: block;
}

.contact_form {
  width: 435px;
  margin: 0 auto;
  padding: 30px 10px;
  background-color: var(--brand_color);
  border-radius: 12px;
  margin-right: 0px;
}

.form_email_name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form_email_name input {
  width: 395px;
  height: 50px;
  font-size: 14px;
  font-family: var(--poppins);
  font-weight: 400;
  color: #918E8E;
  border-radius: 30px;
  border: none;
  background-color: #FFFDFD;
  padding: 15px 15px 14px 15px;
}

.contact_form textarea {
  width: 395px;
  height: 100px;
  padding: 12px 15px 87px 15px;
  border-radius: 12px;
  font-size: 14px;
  font-family: var(--poppins);
  font-weight: 400;
  color: #918E8E;
  background-color: #FEFEFE;
}

.send_button button {
  width: 168px;
  height: 38px;
  font-size: 16px;
  font-family: var(--poppins);
  font-weight: 600;
  border: none;
  background-color: var(--secondary_color);
  color: #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 18px;
  transition: all linear .3s;
}

.send_button button:hover {
  background-color: #FFFFFF;
  color: var(--brand_color);
}

/* ---------- contact css part end ---------- */
/* ========== back to top button css part start ==========  */
.back_to_top {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--brand_color);
	color: #fff;
	display: flex;
  transition:  all linear .3s;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 5%;
	right: 4%;
  visibility: hidden;
  opacity: 0;
	z-index: 999;
}
.back_to_top:hover{
  background: #5239EC;
  transform: scale(1.1);
}
.back_to_top_fixed{
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
	right: 4%;
  animation: back_top .4s linear;
}
@keyframes back_top{
  from{
    bottom: 0;
  }
  to{
    bottom: 5%;
  }
}
/* ---------- back to top button css part end ---------- */
/* ========== footer css part start ==========  */
#footer_part {
  background: var(--heading_color);
  padding-top: 37px;
}

.footer_head {
  width: 218px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 34px;
}

.social_media .social_icon a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: var(--brand_color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear.3s;
}

.social_media .social_icon a:hover {
  background: var(--brand_color);
  color: #fff;
}

.app_store {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.app_store_button a {
  display: flex;
}

.app_store_button a {
  width: 150px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  background: transparent;
  transition: all linear.3s;
}

.app_store_button a .p_1 {
  font-size: 9px;
  font-weight: 400;
  font-family: var(--inter);
  margin-top: 5px;
}

.app_store_button a .p_2 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
}

.app_store_button i {
  color: #fff;
  font-size: 24px;
  margin: 10px;
}

.app_store_button a:hover {
  background: var(--brand_color);
}

.footer_nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  margin-top: 27px;
}

.footer_nav ul li a {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  transition: all linear.3s;

}

.footer_nav ul li a:hover {
  color: var(--secondary_color);
}

.copy_right {
  background: var(--brand_color);
  margin-top: 40px;
  padding: 15px 0;
}

.footer_text p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
  color: #fff;
  text-align: center;
}

/* ---------- footer css part end ---------- */
